* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: grey;
    padding: 15px ;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color:white;
    font-size: 14px;
}

.navbar a.active {
    color: yellow;
}

.container {
    display: grid;
    gap: 15px;
    padding: 20px;
    max-width: 1200px;
    margin: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cta-box {
    background-color: #ff7f50; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.cta-content {
    background-color: darkgrey;
    padding: 20px;
    color: white;
    text-align: left;
    width: 100%;
}

.cta-content h2 { margin-bottom: 10px; }
.cta-content p { margin-bottom: 15px; font-size: 14px; }

.cta-content button {
    background-color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        gap: 30px;
    }

    .container {
        grid-template-columns: 1fr 1fr; 
    }

    .cta-box {
        grid-column: span 2; 
        padding: 20px;
    }
}

@media (min-width: 769px) {
    .container {
        grid-template-columns: 1fr 1fr 2fr; 
        height: 80vh;
    }
}